<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>chat</title>
<link type="text/css" rel="stylesheet" href="/static/css/chat.css" />
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/flexible.js"></script>
</head>

<body>
<header class="header">
	<a class="back" href="javascript:history.back()"></a>
	<h5 class="tit">交流中心</h5>
	<div class="right">充值</div>
</header>
<main>
    <div class="message">
<!--<div class="send">-->
        <!--<div class="time">07/15 08:06</div>-->
        <!--<div class="name">超牛逼的帅哥</div>-->
        <!--<div class="msg">-->
        <!--<img src="/static/img/avatar2.jpg" alt="" />-->
        <!--<p><i class="msg_input"></i>我是从400年前穿越过来的！</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="chat-notice">-->
        <!--<span>超级大帅哥上线</span>-->
        <!--</div>-->
        <!--<div class="show">-->
        <!--<div class="time">07/15 08:08</div>-->
        <!--<div class="msg">-->
        <!--<img src="/static/img/avatar3.jpg" alt="" />-->
        <!--<p><i clas="msg_input"></i>你是在逗我吗，都敏俊兮？</p>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</main>

<div class="footer">
	<img src="/static/img/hua.png" alt="" />
	<img src="/static/img/xiaolian.png" alt="" />
	<input type="text"  onblur=" preNew();"  />
	<p>发送</p>
</div>
<script type="text/javascript" src="/static/js/chat.js" charset="utf-8"></script>
</body>
</html>